
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contact">
    <div class="container">
        <h3>İletişim Bilgilerimiz</h3>
        <div class="col-md-12">
            <p>
                Firmamız hakkında bize iletmek istediğiniz düşünceleriniz,eleştirileriniz, fikirleriniz var ise lütfen sağ tarafda yer alan iletişim formunu doldurunuz.
            </p>
            <p>
                Doldurulan form en kısa sürede incelenerek değerlendirildikten sonra size bilgi verilecektir.
            </p>
            <p>
                0850 850 85 85 numaralı çağrı merkezimizi 7/24 ulaşabilirsiniz.
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>