<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Otobüs Biletleme Sistemi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/Templates/Account/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Cormorant+SC:300,400,500,600,700" rel="stylesheet">
    <link href="~/Templates/Admin/assets/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Templates/Home/TicketPage/js/jquery-1.11.0.min.js"></script>
    <script src="~/Templates/Home/TicketPage/js/jquery.seat-charts.js"></script>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>
<body>
    @RenderBody()
</body>
</html>